       <footer class="footer">
        <p class="text-muted">Place sticky footer content here.</p>
        <p>All content copyright whomever<br />
        Please feel free to distribute material here, but give credit.</p>
        <p><br /></p>
    </footer>