<h1>Contact us</h1>
<p>If you would like more information about this project, please email <a href="mailto:bogusemail@nowhere.com">this email address</a></p>
<p>We are:
<ul class="none">
  <li>Alison</li>
  <li>Ayo</li>
  <li>Carol</li>
  <li>Chris</li>
  <li>Sam</li>
  <li>Tim</li>
</ul>
</p>
