@import "bootstrap";
.jumbotron{
  background-image:url("/PANO.png") ;
    color:#fff;
} 
.nav-tabs {
  background-image:url("/PANO.png") ;
  }

.footer{  
  background-image:url("/PANO.png") ;
  color:#fff;
  }